* {
  font-family: Inter, sans-serif;

  font-size: 18px;
}

h2,
h3 {
  font-weight: 500;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  div {
    margin-top: 23px;
    display: flex;
    gap: 14px;
    align-items: center;
    input {
      width: 200px;
      height: 39px;
      border-radius: 5px;
      padding-left: 22px;
      font-size: 18px;
      border-radius: 20px;
      border: 1px solid grey;
      background: rgb(252, 252, 252);
    }
    button {
      width: 95px;
      height: 45px;
      letter-spacing: 1.8px;
      color: rgb(255, 255, 255);
      background-color: rgb(41, 128, 185);
      border-radius: 50px;
      border: transparent;
    }
  }
  .copyButton {
    width: 65px;
    height: 32px;
    font-size: 15px;
    letter-spacing: 0.6px;
    background-color: rgb(2, 158, 2);
    margin-left: 12px;
    cursor: pointer;
  }
}
